/*
===============
Style
=============== */


/*
=================
GENERAL
=================
*/
#container {
  max-width: $max-width;
  margin:auto;
  border: thin solid #00a8cd; /* for testing */
}

body {
  a {
    color: $secondary-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }


  h1, h2, h3, h4, h5 {
    color:$secondary-color;
    font-weight:bold;
    margin:0;
    padding:0;
  }

    h1 {
      font-size: 36px;
      line-height: 38px;
    }

    h2{
      font-size: 32px;
      line-height: 34px;
    }

    h3{
      font-size: 26px;
      line-height: 28px;
    }

    h4{
      font-size: 22px;
      line-height: 24px;
    }

    h5{
      font-size: 18px;
      line-height: 20px;
    }

    img {
      border:none;
    }

      img.responsive {
        width: inherit;  /* This makes the next two lines work in IE8. */
        max-width: 100%;
        height: auto;
      }

  font-size: $font-size;
  line-height: $line-height;
  color:$font-color;
  font-family: $font-family;
}


/*
=================
HEADER
=================
*/
header {
  text-align: center;

  nav {
    text-align: center;
  }
}


/*
=================
SECTION
=================
*/
section {
  @include inline-block;
  margin:0 0 25px 40px;
  max-width: 770px;
  width: 100%;
  vertical-align: text-top;

  /*
  =================
  ARTICLE
  =================
  */
  article {
    ul {
      padding-left: 25px;
    }
  }
}



/*
=================
ASIDE
=================
*/
* ~ aside {
  margin-top: -5px !important; /* adjustment for any first element inside aside */
}

aside {
  @include inline-block;
  margin:0 40px 0 25px;
  max-width: 370px;
  width: 100%;
  vertical-align: text-top;


  img {
    margin: 4px 0;

    & + img {
      margin: 7px 0;
    }

    & + .announcement, & + .endorsement {
      margin-top: 6px;
    }
  }

  .announcement {
    background-color: $secondary-color;
    max-width: 370px;
    width:100%;
    color:#FFF;
    margin: 13px 0;
    padding-bottom: 10px;

    h1 {
      font-weight:normal;
      background: #000;
      font-size: 24px;
      line-height: 26px;
      color: #FFF;
      padding: 10px 15px;
    }

    h2 {
      font-size: $font-size;
      line-height: $line-height;
      color:#000;
      padding: 10px 0 0 15px;
    }

    p {
      margin:0;
      padding: 0 15px 10px 15px;

      a {
        color:#000;
      }
    }
  }

  .endorsement {
    background-color: $secondary-color;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
    width: 100%;
    height: 100%;
    max-width: 310px;
    color:#FFF;
    margin: 13px 0;

    h1 {
      color:#FFF;
      font-size: 24px;
      line-height: 26px;
      font-style:italic;
      font-weight:normal;
    }

    p {
      margin:0;
      padding:0;
      font-size: 20px;
      line-height:30px;
    }
  }
}



/*
=================
FOOTER
=================
*/
footer {
  background-color: #ccc;
  padding: 20px 0;
  text-align:center;
  font-size: 12px;
  line-height: 16px;
  color:#010000;

  a {
    color: #010000;
  }

  p {
    margin:0;
    padding:0;
  }
}



/*
=================
MISC
=================
*/
#browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.quotes {
  @include inline-block;
  margin: 0 20px 20px 20px;
  max-width: 365px;
  width: 100%;
  vertical-align: text-top;
  text-align: center;

  img {
    @include inline-block;
    vertical-align: text-top;
    width:105px;
  }

  p {
    @include inline-block;
    font-weight:bold;
    font-style:italic;
    vertical-align: text-top;
    max-width: 255px;
    width: 100%;
    margin:10px 0 0 0;
    padding:0;

    span {
      font-weight:normal;
      font-style: normal;
      display:block;
    }
  }
}

#banner {
  margin-bottom:10px;
}
